
App Proyecto Final/.idea/workspace.xml
App Proyecto Final/.idea/vcs.xml
App Proyecto Final/.idea/php.xml
App Proyecto Final/.idea/modules.xml
App Proyecto Final/.idea/misc.xml
App Proyecto Final/.idea/inspectionProfiles/Project_Default.xml
App Proyecto Final/.idea/dictionaries/Yoltic_Cegal.xml
App Proyecto Final/.idea/dashboard.iml
App Proyecto Final/.idea/App Proyecto Final.iml
